ion-content {
  --background: linear-gradient(#76cae6, #0d6ed9);
}
ion-toolbar {
  --background: none;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

#container p {
  font-size: 16px;
  line-height: 18px;
  color: #e3f5fd;
  margin: 0;
}

#container a {
  text-decoration: none;
}
.logo{
  color: white;
  font-size: 45px !important;
}
.logo-img {
  margin: 10px;
  width: 90px;
  height: 90px;
}
