ion-content {
  --background: linear-gradient(#76cae6, #0d6ed9);
  text-align: center;
}
ion-toolbar {
  --background: none;
}
img {
  margin-top: 20px;
  width: 150px !important;
  height: 150px !important;
}
.name{
  color: white;
  font-weight: bold;
}
.text{
  color: white;

}
.container{
  padding: 20px;
}
.chip{
  --color: #4b4b4b;
  --background: #fff !important;
}
#ratingImg {
  height: 35px !important;
  width: 150px !important;
  margin: -10px 0 0 0;
}
#ratingContainer {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
  margin: 0 50px;
}
