<ion-content [fullscreen]="true">
    <div class="container">
        <img src="assets/icon/avatar.png">
        <h1 class="name">Иван Иванов</h1>
        <span class="name">Москва</span>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

      <h1 class="name" style="font-size: 18px">Навыки</h1>
        <p>
            <ion-chip class="chip">
                <ion-icon name="checkmark-circle"></ion-icon>
                <ion-label>Возражения</ion-label>
            </ion-chip>
            <ion-chip class="chip">
                <ion-icon name="checkmark-circle"></ion-icon>
                <ion-label>Переговоры</ion-label>
            </ion-chip>
            <ion-chip class="chip">
                <ion-icon name="checkmark-circle"></ion-icon>
                <ion-label>Продажи</ion-label>
            </ion-chip>
            <ion-chip class="chip">
                <ion-icon name="checkmark-circle"></ion-icon>
                <ion-label>Владение саблей</ion-label>
            </ion-chip>
            <ion-chip class="chip">
                <ion-icon name="checkmark-circle"></ion-icon>
                <ion-label>Управление принтером</ion-label>
            </ion-chip>
            <ion-chip class="chip">
                <ion-icon name="checkmark-circle"></ion-icon>
                <ion-label>Администрирование</ion-label>
            </ion-chip>
            <ion-chip class="chip">
                <ion-icon name="checkmark-circle"></ion-icon>
                <ion-label>Вязание</ion-label>
            </ion-chip>
        </p>
    </div>
</ion-content>
