<ion-content [fullscreen]="true">
  <div id="container">
    <ion-img src="assets/logo.png" class="logo-img"></ion-img>
    <strong class="logo"><span>Работа с </span><span style="color: #6bd1ff">возражениями</span></strong>
    <br><br>
    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
    <br><br>
    <section>
      <ion-button (click)="onBackClick()" color="warning" expand="block">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Вернуться
      </ion-button>
      <ion-button (click)="onStartClick()" color="success" class="start" expand="block">
        <ion-icon slot="start" name="rocket-outline"></ion-icon>
        Начать
      </ion-button>
    </section>
  </div>
</ion-content>
